<%- partial('_partial/head') %>
<body class="loading">
    <span id="config-title" style="display:none"><%= config.title %></span>
    <div id="loader"></div>
    <%- body %>
</body>
<%- partial('_partial/scripts', null, {cache: true}) %>
<%- partial('_partial/mathjax', null, {cache: true}) %>
<%- partial("_partial/google-analytics", {cache: true}) %>
<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/miccjing/CDN/js/anime.min.js"></script> 
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/miccjing/CDN/js/fireworks.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/miccjing/js/text.js"></script>
</html>
